.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 824px;
}

.u-section-1 .u-shape-1 {
  background-image: none;
  width: 822px;
  left: auto;
  right: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -6px auto 60px -18px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 362px;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 40px;
}

.u-section-1 .u-icon-1 {
  height: 82px;
  width: 82px;
  background-image: none;
  color: rgb(143, 126, 109) !important;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 378px;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 40px;
}

.u-section-1 .u-icon-2 {
  height: 82px;
  width: 82px;
  background-image: none;
  color: rgb(143, 126, 109) !important;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 740px;
  background-image: url("images/176035806_2830500597201413_333188840826099354_n.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 17px 20px 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-1 .u-shape-1 {
    width: 733px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 298px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 312px;
  }

  .u-section-1 .u-image-1 {
    min-height: 610px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-1 .u-shape-1 {
    width: 618px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-1 {
    min-height: 467px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1336px;
  }

  .u-section-1 .u-shape-1 {
    width: 440px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
  }

  .u-section-1 .u-image-1 {
    min-height: 637px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1206px;
  }

  .u-section-1 .u-shape-1 {
    width: 280px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-1 {
    min-height: 401px;
  }
}h1:hover {
color : green;
}
h3:hover {
color : orange;
}
p:hover {
color : red;
}
h4:hover {
color : orange;
}
h5:hover {
color : blue;
}
h2:hover {
color : yellow;
}